/**
 * Site header
 */
.site-header {
  border-top: 5px solid $theme-color-dark;

  top: 0;
  min-height: $spacing-unit * 1.865;
  width: 100%;

  background: #f7f7f7;
  position: fixed;
}

.site-social-media-icons {
  display: inline-block;
  float: right;
  margin-right: 100px;
  line-height: $base-line-height * $base-font-size * 2.25;
}

.site-nav {
  display: inline-block;
  margin-left: 100px;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
    display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    margin-left: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $theme-color-light;
    border-radius: 5px;
    text-align: left;

    label[for="nav-trigger"] {
      display: block;
      float: left;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: left;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $theme-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

/**
 * Site footer
 */
.site-footer {
  height: $spacing-unit * 1.865;
  background: #f7f7f7;
}

.footer-wrapper {
  text-align: center;
  vertical-align: middle;
  line-height: $spacing-unit * 1.865;
}

/**
 * Page content
 */
.page-content {
  margin-top: $spacing-unit * 1.865;
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-meta {
  font-size: $large-font-size;
  color: $theme-color-light;
  text-align: center;
}

.post-meta-tags {
  font-size: $small-font-size;
  color: $theme-color;
  text-align: center;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.justify-content-center {
    justify-content: center !important;
}

.post-row-date {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $blog-list-font;
  color: $theme-color-light;
  text-align: center;
  display: inline;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Site About
 */
 .about_background {
   background: linear-gradient(rgba(0,0,0,0.8), rgba(255,255,255,0.8)), url(images/bg.jpg);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.about_avatar {
   display: block;

   background-size: cover;
   background-position: center;

   border-radius: 50%;
   border:1px solid #fff;

   margin-left: auto;
   margin-right: auto;

   width: 190px;
   height: 190px;
}

.card-wrapper {
  padding-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  text-align: center;
}

.about-card-text {
  color: $theme-color-dark;
  text-align: center;
  vertical-align: middle;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 250px;
  margin: 1rem;
  position: relative;
  width: 270px;
}

.card-shadow {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
