.image-center {
    margin: 0 auto;
    display: block;
}

.image-caption {
  text-align: center;
  font-size: .8rem;
  color: light-grey;
}

.separator {
  text-align: center;
  font-size: .6rem;
  color: light-grey;
  margin: 32px;
}
