<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="about_background page-content" aria-label="Content">

      <div class="wrapper">
        <img class="about_avatar" style="margin-top: 30px" src="assets/images/img_kamilkrzyk2.png"></img>
      </div>

      <div class="card-wrapper">
        <div class="about-card-text card card-shadow">FRYTUNIE</div>
        <div class="about-card-text card card-shadow">SĄ</div>
        <div class="about-card-text card card-shadow">SUPCIO</div>
      </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
